html {
  /* commenting scroll-behavior: smooth so that animations have proper effect based on scroll position */
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Poppins', sans-serif;
}

/* ============================================================================ */
/* Common */

.sectionTitleAnimation {
  animation: sectionTitleAnimation 1s;
}

@keyframes sectionTitleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* animation on scroll when we reach the mission part of the mission section */
.fromLeft {
  animation: fromLeft 1.5s ease;
}

.fromRight {
  animation: fromRight 1.5s ease;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.color-primary {
  color: #007bff;
  /* color: #007bff #70abd2; */
}

/* ============================================================================ */
/* Banner */

.banner {
  height: 100vh;
}

#logo {
  max-height: 59px;
}

section {
  padding-top: 59px;
  min-height: 100vh;
}

/* animation on scroll when we reach the mission part of the mission section */
.fromTopHeader {
  animation: fromTopHeader 1.5s ease;
}

@keyframes fromTopHeader {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.brand {
  color: #007bff;
}

/* navbar */
.nav-menu {
  padding: 30px;
  /* transition: all 0.7s; to show transition of navbar on scroll. See .custom-navbar class and JS */
}

.menu-item {
  letter-spacing: 1px;
  transition: all 0.2s;
  color: #000;
}

.menu-item:hover {
  color: #007bff;
}

.nav-active {
  /* color: #007bff; */
  border-bottom: 4px solid #007bff;
}

/* to show 3 line (hamburger) */
.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s; /* to show nice animation effects for hamburger lines */
}

/* to show 'X' on click */
.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* specially added to show shadow for exact round and cutout (polygon) shape */
.parent-wrapper {
  filter: drop-shadow(0 15px 30px rgba(0, 123, 255, 0.7));
}

.img-wrapper {
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
  position: relative;
}

#img-profile {
  transition: all 0.4s;
}
#img-profile:hover {
  transform: scale(1.05) perspective(2px);
}

.home-social {
  margin-top: 4rem;
}
.home-social * {
  font-size: 1.5rem;
  /* same as .fromTopHeader class because it is required when page loaded for first time as there is no scrolling yet */
  animation-name: socialMedia;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}

/* animation on scroll when we reach the mission part of the mission section */
.socialMedia {
  animation-name: socialMedia;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}

@keyframes socialMedia {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ============================================================================ */
/* About */

mark {
  font-weight: bolder;
  background: linear-gradient(
      104deg,
      rgba(0, 123, 255, 0) 0.9%,
      rgba(0, 123, 255, 1.25) 2.4%,
      rgba(0, 123, 255, 0.4) 5.8%,
      rgba(0, 123, 255, 0.1) 93%,
      rgba(0, 123, 255, 0.7) 96%,
      rgba(0, 123, 2552, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(0, 123, 255, 0) 0%,
      rgba(0, 123, 255, 0.3) 7.9%,
      rgba(0, 123, 255, 0) 15%
    );
  padding: 0.2em 13.7px;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
  /* text-shadow: -12px 12px 9.8px rgba(0, 123, 255, 0.7), 21px -18.1px 7.3px rgba(255, 255, 255, 1),
    -18.1px -27.3px 30px rgba(255, 255, 255, 1); */
}

.about-img {
  border-radius: 7px;
  box-shadow: 2px 3px 10px #444;
}

.underline {
  width: 150px;
  margin: auto; /* to center the line */
  border-bottom: 5px solid #007bff;
}

/* ============================================================================ */
/* Skills */

.skill {
  box-shadow: 0 4px 25px rgb(14 36 49 / 15%);
  border-radius: 0.5rem;
  padding: 10px;
  margin-bottom: 1rem;
}

.skill_name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill_bar {
  padding-top: 10px;
  border-bottom: 4px solid #007bff;
}

/* ============================================================================ */
/* Timeline */
.timeline {
  border-left: 3px solid #007bff;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(0, 123, 255, 0.09);
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 70%;
  box-shadow: 0 4px 25px rgb(14 36 49 / 15%);
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -207px;
  content: attr(data-date); /* value from li element's 'data-date' attr will be used */
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #007bff;
  box-shadow: 0 0 0 3px #007bff;
  left: -55.8px;
  background: #fff;
  border-radius: 50%; /* for rounded hollow circle */
  height: 9px;
  width: 9px;
  content: '';
  top: 5px;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #007bff;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}

.animate-event-1 {
  animation-name: sectionTitleAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}
.animate-event-2 {
  animation-name: sectionTitleAnimation;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}
.animate-event-3 {
  animation-name: sectionTitleAnimation;
  animation-duration: 0.5s;
  animation-delay: 1.6s;
  animation-timing-function: ease;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}
.animate-event-4 {
  animation-name: sectionTitleAnimation;
  animation-duration: 0.5s;
  animation-delay: 2.4s;
  animation-timing-function: ease;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}
