html {
  /* commenting scroll-behavior: smooth so that animations have proper effect based on scroll position */
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Poppins', sans-serif;
}

/* ============================================================================ */
/* Common */

.sectionTitleAnimation {
  animation: sectionTitleAnimation 1s;
}

@keyframes sectionTitleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* animation on scroll when we reach the mission part of the mission section */
.fromLeft {
  animation: fromLeft 1.5s ease;
}

.fromRight {
  animation: fromRight 1.5s ease;
}

@keyframes fromLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.color-primary {
  color: #007bff;
  /* color: #007bff #70abd2; */
}

/* ============================================================================ */
/* Banner */

.header {
  height: 100vh;
}

#logo {
  max-height: 59px;
}

section {
  padding-top: 59px;
}

/* animation on scroll when we reach the mission part of the mission section */
.fromTopHeader {
  animation: fromTopHeader 1.5s ease;
}

@keyframes fromTopHeader {
  0% {
    transform: translateY(-90px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.brand {
  color: #4070f4;
  /* #007bff; */
}

/* navbar */
.nav-menu {
  padding: 30px;
  /* transition: all 0.7s; to show transition of navbar on scroll. See .custom-navbar class and JS */
}

.menu-item {
  letter-spacing: 1px;
  transition: all 0.2s;
  color: #000;
}

.menu-item:hover {
  color: #007bff;
}

.nav-active {
  /* color: #007bff; */
  border-bottom: 4px solid #007bff;
}

/* to show 3 line (hamburger) */
.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s; /* to show nice animation effects for hamburger lines */
}

/* to show 'X' on click */
.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.change .line2 {
  opacity: 0;
}
.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* specially added to show shadow for exact round and cutout (polygon) shape */
.parent-wrapper {
  filter: drop-shadow(0 15px 30px rgba(0, 123, 255, 0.7));
}

.img-wrapper {
  width: 300px;
  border-radius: 50%;
  overflow: hidden;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
  position: relative;
}

#img-profile {
  transition: all 0.4s;
}
#img-profile:hover {
  transform: scale(1.05) perspective(2px);
}

.home-social {
  margin-top: 4rem;
}
.home-social * {
  font-size: 1.5rem;
  /* same as .fromTopHeader class because it is required when page loaded for first time as there is no scrolling yet */
  animation-name: socialMedia;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}

/* animation on scroll when we reach the mission part of the mission section */
.socialMedia {
  animation-name: socialMedia;
  animation-duration: 1.2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards; /* to hide the element before animation starts */
}

@keyframes socialMedia {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* ============================================================================ */
/* About */

mark {
  font-weight: bolder;
  background: linear-gradient(
      104deg,
      rgba(0, 123, 255, 0) 0.9%,
      rgba(0, 123, 255, 1.25) 2.4%,
      rgba(0, 123, 255, 0.4) 5.8%,
      rgba(0, 123, 255, 0.1) 93%,
      rgba(0, 123, 255, 0.7) 96%,
      rgba(0, 123, 2552, 0) 98%
    ),
    linear-gradient(
      183deg,
      rgba(0, 123, 255, 0) 0%,
      rgba(0, 123, 255, 0.3) 7.9%,
      rgba(0, 123, 255, 0) 15%
    );
  padding: 0.2em 13.7px;
  -webkit-box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px rgba(0, 123, 255, 0.7), 21px -18.1px 7.3px rgba(255, 255, 255, 1),
    -18.1px -27.3px 30px rgba(255, 255, 255, 1);
}

.about-img {
  border-radius: 7px;
  box-shadow: 2px 3px 10px #444;
}

.underline {
  width: 150px;
  margin: auto; /* to center the line */
  border-bottom: 5px solid #007bff;
}
